<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishwajeet Panda</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg">
</head>
    <body class="antialiased relative text-gray-600">


    <nav class="bg-gray-50 sticky top-0 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                    <li>
                        <a href="#bgimg" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#idservices" class="text-gray-900 dark:text-white hover:underline">Services</a>
                    </li>
                    <li>
                        <a href="#idfeedbacks" class="text-gray-900 dark:text-white hover:underline">Feedbacks</a>
                    </li>
                    <li>
                      <a href="#projectID" class="text-gray-900 dark:text-white hover:underline">Projects</a>
                  </li>
                    <li>
                        <a href="#idcontact" class="text-gray-900 dark:text-white hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    


        <div class="absolute w-full min-h-screen">
        <div class="absolute z-0 top-0 w-full h-screen bg-cover bg-bottom pt-20 px-12 text-white text-center" id="bgimg" style="background-image: url('/static/bgimage.jpg')"></div>
        </div>
        <div class="relative z-10 flex min-h-screen h-auto justify-center items-center">
          <div class="relative max-w-4xl">
            <div class="absolute z-10 inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"></div>
            <div class="relative z-20 bg-white md:flex justify-between p-12 shadow-lg rounded-lg w-full max-w-4xl">
              <div class="sm:flex flex-col justify-between space-y-6 py-6 md:pr-10">
                <div>
                  <h2 class="text-lg">Hello, I am</h2>
                  <h1 class="pt-1 text-5xl font-bold text-gray-800">
                    Vishwajeet Panda
                  </h1>
                </div>
                <p class="text-xl leading-relaxed">
                    Transforming your business through data-driven innovation &
                    Your trusted partner in data science and machine learning
                </p>
                <div class="inline-flex text-xl text-gray-600 space-x-5">
                  <a href="https://twitter.com/clevercool_vip">
                    <ion-icon name="logo-twitter" class="hover:text-blue-500"></ion-icon>
                  </a>
                  <a href="https://www.linkedin.com/in/vishwajeet-panda-666723161/">
                    <ion-icon name="logo-linkedin" class="hover:text-blue-700"></ion-icon>
                  </a>
                  <a href="https://github.com/clevercoolvip/">
                    <ion-icon name="logo-github" class="hover:text-blue-500"></ion-icon>
                  </a>
                  <div class="text-center">
                    <a href="/static/resume.pdf" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-700 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" download>Download Resume</a> 
                </div>
                </div>
              </div>
              <img src="/static/2022.jpg" alt="profile" class="flex-shrink-0 w-80 rounded-full border-6 border-white shadow-md" />
            </div>
          </div>
        </div>


        <section class="bg-gray-50 pt-20 pb-28 px-8" id="idservices">
          <div class="max-w-6xl mx-auto">
            <div class="text-center">
              <h1 class="text-6xl font-bold text-gray-800">Services</h1>
              <p class="pt-2">Here's what I offer</p>
            </div>
            <div class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
              <div class="relative">
                <div class="absolute z-10 inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"></div>
      
                <div class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12">
                  <ion-icon name="business-sharp" class="text-5xl text-cyan-500"></ion-icon>
                  <h2 class="pt-3 font-bold text-2xl">
                    Business Intelligence
                  </h2>
                  <p class="pt-3">
                    BI empowers businesses to become data-driven enterprises,
                    transforming raw data into a strategic asset that fuels growth and innovation. 
                    Optimize your operations and drive strategic planning with Business Intelligence.
                  </p>
                </div>
              </div>
              <div class="relative">
                <div class="absolute z-10 inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"></div>
      
                <div class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12">
                  <ion-icon name="analytics-sharp" class="text-5xl text-cyan-500"></ion-icon>
                  <h2 class="pt-3 font-bold text-2xl">Data Analysis</h2>
                  <p class="pt-3">
                    It involves taking raw data and turning it into actionable insights.
                    By using a variety of tools and techniques, I extract meaningful patterns
                    and trends, revealing the hidden stories within the numbers.
                  </p>
                </div>
              </div>
              <div class="relative">
                <div class="absolute z-10 inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"></div>
      
                <div class="relative z-20 bg-white h-full rounded-md shadow-md px-10 py-12">
                  <ion-icon name="chatbubbles-outline" class="text-5xl text-cyan-500"></ion-icon>
                  <h2 class="pt-3 font-bold text-2xl">
                    Consultation
                  </h2>
                  <p class="pt-3">
                    Artificial intelligence (AI) and machine learning (ML) are rapidly transforming businesses
                    across industries. AI/ML consulting helps organizations identify and implement AI/ML solutions
                    to improve their operations, gain a competitive edge, and drive innovation.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
       

        <section class="bg-white dark:bg-gray-900" id="idfeedbacks">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Feedbacks</h2>
                    <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Feedbacks recieved by clients</p>
                </div> 
                <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
                    <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                        <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Vishwajeet is very good at his skills. With effective communication and very good quality of work, he cooperated throughout and did a great job! I will definitely hire him again.</h3>
                        </blockquote>
                        <figcaption class="flex justify-center items-center space-x-3">
                            <img class="w-9 h-9 rounded-full" src="/static/sidfs.PNG" alt="profile picture">
                            <div class="space-y-0.5 font-medium dark:text-white text-left">
                                <div>Sid FS</div>
                            </div>
                        </figcaption>    
                    </figure>
                    <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                        <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">He did an amazing job. Good communication and he cooperates very well. Eager to learn more and very hard working. I am definitely going to hire him again and would recommend him to others as well.</h3>
                        </blockquote>
                        <figcaption class="flex justify-center items-center space-x-3">
                            <div class="space-y-0.5 font-medium dark:text-white text-left">
                                <div>Snehal K</div>
                                <div class="text-sm font-light text-gray-500 dark:text-gray-400">Data Analyst</div>
                            </div>
                        </figcaption>    
                    </figure>
                    <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                        <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">He is good in his work, he gives time and on every given time he was available right at the moment. He is supportive, prompt in answering queries.</h3>
                        </blockquote>
                        <figcaption class="flex justify-center items-center space-x-3">
                            <img class="w-9 h-9 rounded-full" src="/static/Capture.PNG" alt="profile picture">
                            <div class="space-y-0.5 font-medium dark:text-white text-left">
                                <div>Gautam Kumar</div>
                                <div class="text-sm font-light text-gray-500 dark:text-gray-400">Software Engineer</div>
                            </div>
                        </figcaption>    
                    </figure>
                    <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                        <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Vishwajeet is an ambitious data scientist, he did a great job of delivering the first POC for the project.</h3>
                        </blockquote>
                        <figcaption class="flex justify-center items-center space-x-3">
                            <img class="w-9 h-9 rounded-full" src="/static/nicholas.PNG" alt="profile picture">
                            <div class="space-y-0.5 font-medium dark:text-white text-left">
                                <div>Nicholas Oliver</div>
                                <div class="text-sm font-light text-gray-500 dark:text-gray-400">Product Manager, MusicMagicIO</div>
                            </div>
                        </figcaption>    
                    </figure>
                </div>
                <div class="text-center">
                    <a href="/static/resume.pdf" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-700 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" download>Download Resume</a> 
                </div>
          </section>


          <!-- ====== Portfolio Section Start -->
<section
x-data="
{
showCards: 'all',
activeClasses: 'bg-primary text-white',
inactiveClasses: 'text-body-color dark:text-dark-6 hover:bg-primary hover:text-white',
}
"
class="pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] dark:bg-dark"
>
<div class="container mx-auto">
   <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
         <div class="mx-auto mb-[60px] max-w-[510px] text-center">
            <span class="text-primary mb-2 block text-lg font-semibold">
            Portfolio
            </span>
            <h2
               class="text-dark mb-3 text-3xl leading-[1.208] font-bold sm:text-4xl md:text-[40px]"
               >
               My Recent Projects
            </h2>
            <p class="text-body-color text-base dark:text-dark-6">
              Projects are baased on Data Analysis, AI & ML and etc. The project is prepared by real world data.
            </p>
         </div>
      </div>
   </div>
   <div class="-mx-4 flex flex-wrap" id="projectID">
      <div
         :class="showCards == 'all' || showCards == 'branding' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8RGF0YSUyMEFuYWx5c2lzfGVufDB8fDB8fHww"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               Data Analysis
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                  Automatic Data Analysis
               </h3>
               <a
                  href="https://github.com/clevercoolvip/hackcbs6.0.git"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
      <div
         :class="showCards == 'all' || showCards == 'marketing' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="https://images.unsplash.com/photo-1557200134-90327ee9fafa?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZW1haWx8ZW58MHx8MHx8fDA%3D"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               Web Scraper
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                  Research paper Emailer
               </h3>
               <a
                  href="https://github.com/clevercoolvip/paper_emailer.git"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
      <div
         :class="showCards == 'all' || showCards == 'development' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="/static/garud.png"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               AIML
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                  Punishment(Garud Purana)
               </h3>
               <a
                  href="https://github.com/clevercoolvip/garud_puran"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
      <div
         :class="showCards == 'all' || showCards == 'design' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="https://images.unsplash.com/photo-1526232761682-d26e03ac148e?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNwb3J0cyUyMGFjYWRlbXl8ZW58MHx8MHx8fDA%3D"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               Web Development
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                TOPSHOT Sports Academy
               </h3>
               <a
                  href="https://github.com/clevercoolvip/topshot"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
      <div
         :class="showCards == 'all' || showCards == 'marketing' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="https://images.unsplash.com/photo-1673255745677-e36f618550d1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGFpfGVufDB8fDB8fHww"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               Generative Adversarial Network
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                  Text-to-Image Generator
               </h3>
               <a
                  href="https://github.com/clevercoolvip/text-2img"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
      <div
         :class="showCards == 'all' || showCards == 'branding' ? 'block' : 'hidden' "
         class="w-full px-4 md:w-1/2 xl:w-1/3"
         >
         <div class="relative mb-12">
            <div class="overflow-hidden rounded-[10px]">
               <img
                  src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGF0YXxlbnwwfHwwfHx8MA%3D%3D"
                  alt="portfolio"
                  class="w-full"
                  />
            </div>
            <div
               class="relative z-10 mx-7 -mt-20 rounded-lg bg-white dark:bg-dark-2 py-[34px] px-3 text-center shadow-portfolio dark:shadow-box-dark"
               >
               <span class="text-primary mb-2 block text-sm font-medium">
               Data Analysis
               </span>
               <h3 class="text-dark dark:text-white mb-5 text-xl font-bold">
                  Automatic Preprocessing of Data
               </h3>
               <a
                  href="https://github.com/clevercoolvip/sih_public/tree/main/sih"
                  class="text-body-color dark:text-dark-6 hover:border-primary hover:bg-primary inline-block rounded-md border border-stroke dark:border-dark-3 py-[10px] px-7 text-sm font-medium transition hover:text-white"
                  >
               View Details
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
</section>
<!-- ====== Portfolio Section End -->


        <section class="pt-20 pb-36 px-8 bg-gray-50" id="idcontact">
          <div class="max-w-6xl mx-auto">
            <div class="text-center">
              <h1 class="text-6xl font-bold text-gray-800">Contact</h1>
              <p class="pt-2">Get in touch with me</p>
            </div>
          </div>
          <div class="mt-16 relative max-w-4xl mx-auto">
            <div class="absolute z-10 inset-0 bg-gradient-to-r from-green-400 to-blue-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-lg"></div>
            <div class="relative z-20 bg-white rounded-md shadow-md p-12">
              <form action="/" enctype="multipart/form-data" method="post">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6">
                  <input type="text" placeholder="Name" name="name" class="border border-gray-200 outline-none px-4 py-2 rounded-md hover:border-gray-400 focus:border-gray-400" />
                  <input type="email" placeholder="Email" name="email" class="border border-gray-200 outline-none px-4 py-2 rounded-md hover:border-gray-400 focus:border-gray-400" />
                  <input type="text" name="subject" placeholder="Subject" class="border border-gray-200 outline-none px-4 py-2 rounded-md hover:border-gray-400 focus:border-gray-400 md:col-span-2" />
                  <textarea rows="5" name="message" placeholder="Message" class="border border-gray-200 outline-none px-4 py-2 rounded-md hover:border-gray-400 focus:border-gray-400 md:col-span-2"></textarea>
                </div>
                <button type="submit" class="inline-block w-auto mt-4 px-6 py-2 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 rounded-md shadow-md text-sm font-bold text-white">
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </section>

        <nav class="bg-white border-gray-200 dark:bg-gray-900">
          <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
              <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                  <img src="/static/email_svg_footer.svg" class="h-8" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">panda18vishu@gmail.com</span>
              </a>
              <div class="flex items-center space-x-6 rtl:space-x-reverse">
                  <img src="/static/phone_svg_footer.svg" class="h-8" />
                  <a href="tel:+91 9811736767" class="text-2xl  text-gray-500 dark:text-white hover:underline">+91 9811736767</a>
              </div>
          </div>
      </nav>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
      </body>    
</html>